/* background-color Naming is get from http://chir.ag/projects/name-that-background-color/#B51B58 */

/* Blue */
.Lochmara-bg{
    background-color:#0078BF;
}
.RobinsEggBlue-bg{
    background-color:#00BCCD;
}
.Bermuda-bg{
    background-color:#7dced5;
}

/* Green */
.Jade-bg{
    background-color:#00aa5b;
}
.Olivine-bg{
    background-color:#85b880;
}
.EarlsGreen-bg{
    background-color:#bdbd32;
}

/* Yellow */
.Gorse-bg{
    background-color: #fff350;
}

/* Red */
.Champagne-bg {
    background-color: #fbe0ce;
}
.Manhattan-bg {
    background-color: #f2ba97;
}
.BrilliantRose-bg {
    background-color:#ee5ba0;
}
.Plum-bg{
    background-color: #702269;
}
.MaroonFlush-bg{
    background-color: #b51b58;
}
.AlizarinCrimson-bg{
    background-color: #ed312f;
}
.Jaffa-bg{
    background-color: #f58a33;
}

/* Other */
.Toast-bg{
    background-color: #a17861;
}
.IrishCoffee-bg{
    background-color: #5f3c25;
}
.Jumbo-bg{
    background-color: #808184;
}
.Gallery-bg{
    background-color: #eeeeee;
}
