/* Color Naming is get from http://chir.ag/projects/name-that-color/#B51B58 */

/* Blue */
.Lochmara{
    color:#0078BF;
}
.RobinsEggBlue{
    color:#00BCCD;
}
.Bermuda{
    color:#7dced5;
}

/* Green */
.Jade{
    color:#00aa5b;
}
.Olivine{
    color:#85b880;
}
.EarlsGreen{
    color:#bdbd32;
}

/* Yellow */
.Gorse{
    color: #fff350;
}

/* Red */
.Champagne {
    color: #fbe0ce;
}
.Manhattan {
    color: #f2ba97;
}
.BrilliantRose {
    color:#ee5ba0;
}
.Plum{
    color: #702269;
}
.MaroonFlush{
    color: #b51b58;
}
.AlizarinCrimson{
    color: #ed312f;
}
.Jaffa{
    color: #f58a33;
}

/* Other */
.Toast{
    color: #a17861;
}
.IrishCoffee{
    color: #5f3c25;
}
.Jumbo{
    color: #808184;
}
.Gallery{
    color: #eeeeee;
}
